@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@400;700&family=Roboto:ital,wght@1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&family=Montserrat+Subrayada:wght@400;700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@1,900&display=swap');

@tailwind base;
@tailwind components;
@layer components{
  .nav-menu-list-items{
    /* font-family: 'Ubuntu', sans-serif;
    font-family: 'Young Serif', serif; */
    font-family: 'Montserrat Subrayada', sans-serif;
    font-family: 'Roboto', sans-serif;
  
  }
  .profile-name{
    font-family: 'Montserrat Subrayada', sans-serif;
    font-family: 'Roboto', sans-serif;
  }
  .card-description{
    font-family: 'League Spartan', sans-serif;
/* font-family: 'Montserrat Subrayada', sans-serif; */
    font-family: 'Open Sans', sans-serif;
    /* font-family: 'Roboto', sans-serif; */
    font-size: 16px;

  }
  

  }
  body{
    font-family: 'Montserrat Subrayada', sans-serif;
    font-family: 'Roboto', sans-serif;
  }

@tailwind utilities;
